<header>
    <nav>
        <ul>
            <li>
                <a href = "/">Головна</a>
            </li>
            <li>
                <a href = "/about">Про мене</a>
            </li>
            <li>
                <a href = "post/category/programming">Програмування</a>
            </li>
            <li>
                <a href = "post/category/art">Мистецтво</a>
            </li>
            <li>
                <a href = "post/category/games">Ігри</a>
            </li>
        </ul>
    </nav>
</header>