{%extends "index.html"%}

{%block content%}
<h2 class = "my-4 ms-3">{{category_name}}</h2>
<section calss = "category_content">
    <div>
        {%for post in posts%}
        <div class="card my-4">
          <div class="card-body">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right"></button>
              <h5 class="card-title">{{post[2]}}</h5>
          </div>
          <footer class="card-footer">{{post[3]}}</footer>
        </div>
        {%endfor%}
        </div> 
        <div class="card mt-5"> 
            <div class="card-body">
              <h3 class="card-title">Додавання посту</h3>
              <hr>
              <form method="POST">
                  <textarea name="post" class="form-control"></textarea><br>
                  <input type="submit" class="btn btn-primary btn-lg" value="Відправити">
                  <input type="hidden" name="category_id" value="{{category_id}}">
              </form>
            </div>
          </div> 
</section>
{%endblock%}